.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.App > div{
  max-width:600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  cursor: pointer;
}
button.active{
  background: aqua;
}
.buttons{
  margin:20px 0 50px;
}
.buttons button{
  text-transform: uppercase;
  margin:0 15px;
}
.word{
  margin:50px 0;
  display: flex;
  justify-content: center;
}
.check__word{
  margin-top:50px;
  margin-bottom:30px;
}
input{
  width:320px;
  padding:10px 20px;
}
.check__btn{
  display: block;
  width:200px;
  padding:10px 20px;
  margin:10px auto;
}
